:root {
  --primary-color: #d8cb41;
  --secondary-color: #ff9900;
  --text-color: #333;
  --text-color-green: #0440069d;
  --background-color: #fff;
  --pale-green: #d8e9d8;
  --pale-blue: #d8e9f0;
  --text-color-dark-orange: #ff7300;
  --font-family: 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-green {
  color: var(--text-color-green);
}

.text-orange {
  color: var(--text-color-dark-orange);
}

.bg-green {
  background-color: var(--text-color-green);
}

#discount-list li {
  background-color: var(--pale-green);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#discount-list li:nth-child(2) {
  background-color: var(--pale-blue);
}

/* background-color: rgba(254, 225, 63, 0.823); */
.bg-custom-landing {
  background: linear-gradient(135deg, rgba(253, 233, 115, 0.823), rgba(255, 153, 0, 0.9));
}